/* h3{
    font-family: 'Cinzel', serif;
    font-weight:lighter;
    font-size: 30px;
    border:2px solid red;
    height:50px;
    background-color:brown;
    opacity: 0.4;
    position: absolute;
    top:126px;
    left:71px;
    tet

} */
#main-bg{
    height:100vh;
    width:32vw;
    border:1px solid purple;
    border-radius: 2px;
    position: relative;
}
body{
    margin:0px;
    /* border:1px solid green; */
    display: flex;
    
}
div > img{
    height:85px;
    width:58px;
    /* border:10px solid brown; */
    /* position: absolute;
    left:250px;
    top:150px;
    background-color: blueviolet; */
}
@media (min-width:651px){
    div#newid{
        width:78vw;
    }
}
@media (min-width: 1396px){
img + div{
    width:30%;
    /* padding-left: 8%; */
}}
@media (min-width:1293px) and (max-width:1395px){
    img + div{width: 32%;
        padding-left: 8%;
}}
@media (min-width: 1000px) and (max-width: 1292px) {
    img + div{
        width: 32vw;
    }
} 
@media (min-width: 651px) and (max-width:999px){
    img + div{
        width:32%;
    }
}
@media(max-width:650px){
body{
    flex-direction: column;
}
#ultimateFlex1, #ultimateFlex2, #ultimateFlex3{
    flex-direction: column;
    gap:0px;
    margin:0px;
    height:fit-content;
    
}
input{
    margin-left:0px;
}
#main-bg{
    width:100%;
    height:70vh;
}
img + div{
    width:100%;
    padding-left:22%;
}




}
img + div{
    /* border:2px solid blue; */
    /* width:29%; */
    box-sizing: border-box;
    /* padding-left: 8%; */
    text-align: center;
    /* padding-right: 40px; */
    /* padding-left: 110px; */
    display: flex;
    
    height:fit-content;
    position: absolute;
    font-size: 31px;
    top:150px;
    /* left:100px; */
    font-family: 'Dancing Script', cursive;
    color:aliceblue;
    /* margin:20px; */
    background-color: rgba(0, 0, 0, 0.4);
    
}
 div > img{
    /* border:1px solid black; */
    margin-top: 10px;
    margin-left: 4px;
    margin-right:4px;
    margin-bottom: 0px;
}
div#newid{
    border: 1px solid rgb(16, 13, 219);
    /* width:78vw; */
    margin-top: 0;
    margin-bottom: 0;
    background-color:rgba(43, 209, 6, 0.041);
    padding-top: 50px;
    /* box-sizing: border-box; */
}

form{
    /* border:2px solid palevioletred; */
    background-color: white;
    /* height: 200px; */
    padding:30px;
    /* text-align: center; */
    box-shadow: 0 3px 6px  grey;
}
p{
    font-weight: bold;
    font-size: 18px;
    padding-left:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    padding-top:7px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 21px;
    /* margin-top: 20px; */
    border-style: none;
    outline-style: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: chocolate;
    border-radius: 4px;
    margin-top: 25px;
}


button:hover{
cursor: pointer;
/* box-shadow: 0 2px 4px orange; */
background-color:rgb(211, 92, 7);
}
input:active, input:focus, textarea:active, textarea:focus{
    /* appearance: none; */
    border: 1px solid blue;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 2px 6px grey;
}
/* input:user-inval{
    outline:none;
    border:1px solid red;
} */
label{
font-family: Arial, Helvetica, sans-serif;
}
input{
    margin-bottom:25px;
    margin-right:25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    /* display: block; */
    /* border:1px solid purple; */
    width: 170px;
    padding-top:4px;
    padding-bottom:4px;
    outline:none;
    border:1px solid grey;
    border-radius: 3px;
    /* height:50px; */
    
}
#firstFlex, #secondFlex, #thirdFlex, #fourthFlex, #fifthFlex, #sixthFlex{
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
    /* height: fit-content; */
    gap:1px;
    height:60px;
}
#ultimateFlex1, #ultimateFlex2, #ultimateFlex3{
    display:flex;
    gap:60px;
    /* border:2px solid yellow; */
}

